@import url(/assets/css/variable.css);
@import url(/assets/css/includes/gameSlide.css);

/* html { overflow-y: hidden; } remove scrollbar */


/* SECTION FIRSTPRESENTATION*/

body {
    background: var(--abyssalNight);
    background-attachment: fixed; /* No gradient color reapeat */
}

.firstPresentation {
    height: 80vh;
    position: relative;
}

.backgroundOpacity {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    overflow: hidden;
    pointer-events: none;
    /*element become transparent for mouse*/
    z-index: 1;
}

.playIframe {
    width: min-content;
}

.videoMedia {
    transform: scale(1.1);
}

.video-wrapper {
    position: relative;
    inset: 0;
    overflow: hidden;
}

.videoMedia {
    position: absolute;
    inset: 0;
    object-fit: cover;

}

.icon-Play {
    width: 48px;
    height: 48px;
}

.containerMedia {
    grid-column-start: 1;
    grid-column-end: 5;
    width: 90%;
    padding: 1.5rem;
    margin-left: auto;
    margin-right: auto;
}

.contentMedia {
    position: absolute;
    bottom: 0;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1rem;
}

a.radius-component-rounded-color {
    border: 1px solid var(--abyssalBlack);
}

.gamePlateform {
    width: fit-content;
    height: fit-content;
}

.menuFeature {
    height: fit-content;
    width: fit-content;
}

.icon-ctg,
.icon-min-pause,
.icon-min-play {
    width: 24px;
    height: 24px;
}

.areaPlateform {
    position: absolute;
}

.iframeSource {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    max-width: 720px;
    transform: translate(-50%, -50%);
}

.iframeSource figure {
    position: relative;
    overflow: hidden;
    aspect-ratio: 16/9;
    height: 100%;
    width: 100%;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    border: none;
    width: 100%;
    height: 100%;
}

.iframe-Media {
    position: fixed;
    inset: 0;
}


.close-iframe {
    justify-content: flex-end;
}

/*TREND SCROLL */




.scrollBtn{
    padding: 3% 7%;
}

@media only screen and (min-width: 1000px) {

    .gamePlateform.padding-5,
    .menuFeature.padding-5 {
        padding: 1%;
    }

    .button-info.padding-3-15 {
        padding: 1% 3%;
    }


}