@import url(/assets/css/variable.css);
@import url(/assets/css/includes/header.css);
@import url(/assets/css/includes/footer.css);

* {
  margin: 0;
  padding: 0;
}

body {
  background: var(--abyssalNight);
}