@import url(/assets/css/variable.css);

    .or {
    display: flex;
    align-items: center;
    width: 100%;
}   

.sptor {
    width: 100%;
    padding: 0.1px;
    border-radius: 10px;
}

main.flex{
    display: block;
}

.padding-custom{
    padding: 2% 3%;
}

.img-container{
    top: 0;
    left: 0;
}

.img-side{
    height: 100vh;
    background-repeat: no-repeat;
    object-fit:cover;
    object-position: center;
}   




@media only screen and (min-width:900px){
    main.flex{
        display: flex;
    }

    .img-container{
       display: block;
    }
    
    .container.padding-0-5{
        padding: 0% 15%;
    }

}