@import url(/assets/css/variable.css);


html,
body {
    height: 100%;
}

main {
    height: 100%;
}


.or {
    display: flex;
    align-items: center;
    width: 100%;
}   

.sptor {
    width: 100%;
    padding: 0.1px;
    border-radius: 10px;
}

main.flex{
    display: block;
}

.img-side{
    background-image: url(/assets/img/jpg/cyberpunk-2077.jpg);
    object-fit: cover;
    height: 100%;
    /* background-size: cover; */
    background-repeat: no-repeat;
}

@media only screen and (min-width:900px){
    main.flex{
        display: flex;
    }

    .img-container{
       display: block;
    }
    
    .container.padding-0-5{
        padding: 0% 15%;
    }

}