@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url(/assets/css/includes/header.css);
@import url(/assets/css/includes/footer.css);


/*CREATE VARIABLE*/
:root {
    --softLight: #E2E8F0;
    --whiteDiamond: #FFFFFF;
    --whiteGray: #9CA3AF;
    --oceanDepth: #191E25;
    --abyssalBlack: #06070D;
    --soft-light-rgb: rgba(226, 232, 240,0.5);
    --abyssal-black-rgb: 6 7 13;
    /*We need RGBA for put an opacity */
    --grayDark: #272E40;
    --deepNavy: #1A2140;
    --softCyan: #22D3EE;
    --steelBlue: #3A4F9A;
    --nightCity: #33427F;
    --clearSky: #3788F7;
    --nightShadow: #0A0F19;
    --steamButton: #1A9FFF;
    --playstationButton: #0070F1;
    --coralOrange: #FE6836;
    --coralSanguine: #F04640;
    --redSky: #F04643;
    --xboxButton: #007738;
    --mintGreen: #00E59B;
    --nintendoButton: #E60012;
    --disErr: #CF0112;
    --hotPink: #EC4899;
    --raspberry: #C21D6F;
    --lila: #B56AFF;
    --lavenderPurple: #C084FC;
    --violette: #841EE9;
    --abyssalNight: linear-gradient(to bottom, var(--nightCity), var(--nightShadow));
    --abyssalSteam: linear-gradient(to bottom, var(--steamButton), var(--nightShadow));
    --abyssalPlayStation: linear-gradient(to bottom, var(--playstationButton), var(--nightShadow));
    --abyssalxbox: linear-gradient(to bottom, var(--xboxButton), var(--nightShadow));
    --abyssalnintendo: linear-gradient(to bottom, var(--nintendoButton), var(--nightShadow));
    --skyblue: linear-gradient(-60deg, var(--softCyan), var(--clearSky));
    --flowerPurple: linear-gradient(-60deg, var(--lavenderPurple), var(--violette));
    --lovePink: linear-gradient(-60deg, var(--hotPink), var(--raspberry));
    --sunset: linear-gradient(-60deg, var(--coralOrange), var(--coralSanguine));
    --h1-phone-size: 1.125rem;
    --h2-phone-size: 0.875rem;
    --h3-phone-size: 0.75rem;
    --h1-pc-size: 1.375rem;
    --h2-pc-size: 1.125rem;
    --h3-pc-size: 0.875rem;
    --isMobile: flex;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,
body {
    height: 100%;
}

main {
    height: 100%;
}

label {
    border: none;
}

input {
    background-color: transparent;
    border: none;
}

li {
    list-style: none;
}

a {
    color: var(--softCyan);
    text-decoration: none;
}

button {
    background-color: transparent;
    border: none;
}

.radius-component-color:focus {
    border: 2px solid var(--softCyan);
    border-radius: 10px;
    transition: 300ms ease-in-out;
    outline: none;
}

::placeholder {
    color: var(--whiteGray);
    font-size: var(--h2-phone-size);
}

/* COLOR TEXT AND BACKGROUND */

.text-color-softLight {
    color: var(--softLight);
}

.text-color-whiteDiamond {
    color: var(--whiteDiamond);
}

.text-color-whiteGray {
    color: var(--whiteGray);
}

.text-color-abyssalBlack {
    color: var(--abyssalBlack);
}

.text-color-softCyan {
    color: var(--softCyan);
}

.text-color-lila {
    color: var(--lila);
}

.text-color-hotPink {
    color: var(--hotPink);
}

.text-color-coralSanguine {
    color: var(--coralSanguine);
}

.text-color-valid {
    color: var(--mintGreen);
}

.text-color-disErr {
    color: var(--disErr);
}

.text-no-color {
    color: transparent;
}

.text-underline {
    text-decoration: underline;
}



.close-btn-iframe svg:hover path, footer svg:hover path {
    fill: var(--softCyan);
    transition: 300ms ease-in-out;
}


.bg-color-softLight {
    background-color: var(--softLight);
}

.bg-color-whiteGray {
    background-color: var(--whiteGray);
}

.bg-color-deepNavy {
    background-color: var(--deepNavy);
}

.bg-color-oceanDepth {
    background-color: var(--oceanDepth);
}

.bg-color-abyssalBlack {
    background-color: var(--abyssalBlack);
}

.bg-color-abyssalBlack-semi-transparent {
    background-color: rgb(var(--abyssal-black-rgb) / 0.9);
}

.bg-color-skyBlue {
    background: var(--skyblue);
}

.bg-color-flowerPurple {
    background: var(--flowerPurple);
}

.bg-color-lovePink {
    background: var(--lovePink);
}

.bg-color-sunset {
    background: var(--sunset);
}

.bg-transparent {
    background-color: transparent;
}

.bg-transparent-color {
    background-color: rgb(var(--abyssal-black-rgb) / 0.1);
}

.bg-blur {
    backdrop-filter: blur(80px) saturate(100%);
}

.blur{
    filter: blur(14px);
}

.icon-svg-fill-softLight {
    fill: var(--softLight)
}

.icon-svg-fill-abyssalBlack {
    fill: var(--abyssalBlack);
}

/* PADDING */

.padding-1{
    padding: 1%;
}

.padding-3-15 {
    padding: 3% 5%;
}

.padding-5 {
    padding: 5%;
}

.padding-0-5 {
    padding: 0% 5%;
}

.padding-0-15 {
    padding: 0% 15%;
}

.padding-0-30 {
    padding: 0% 30%;
}

.padding-0-50 {
    padding: 0% 50%;
}

.padding-5-10 {
    padding: 5% 10%;
}

.padding-10-15{
    padding: 10% 15%;
}

.padding-left-5 {
    padding-left: 5%;
}

/*RADIUS COMPONENT*/

.radius-component {
    border-radius: 10px;
}

.radius-component-rounded {
    border-radius: 999px;
}

.radius-component-rounded-color {
    border: 1px solid var(--softLight);
    border-radius: 999px;
}

.radius-component-color {
    border: 2px solid var(--grayDark);
    border-radius: 10px;
}

/* FEATURE */
.block {
    display: block;
}

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
}

.grid {
    display: grid;
}

.gap-5 {
    gap: 0.3125em;
}

.gap-10 {
    gap: 0.625em;
}

.gap-15 {
    gap: 0.9375em;
}

.gap-30 {
    gap: 1.875em;
}

.gap-50 {
    gap: 3.125em;
}

.column-gap-5 {
    grid-gap: 0.3125em;
}

.ai-center {
    align-items: center;

}

.ai-start {
    align-items: start;
}

.as-center {
    align-self: center;
}

.ac-center {
    align-content: center;
}

.jc-center {
    justify-content: center;
}

.jc-space-beetween {
    justify-content: space-between;
}

.jc-end {
    justify-content: end;
}

.ji-center {
    justify-items: center;
}

.column {
    flex-direction: column;
}

.no-gap {
    gap: 0;
}

.ta-center {
    text-align: center;
}

.flex-1 {
    flex: 1;
}

.grid-element {
    /*adap div size */
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    gap: 2em;
    align-items: center;
}

.grid-template-columns-300 {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.hide {
    display: none;
}

.hidden {
    opacity: 0;
}

.img-fluid-max {
    /* adapt image from the container */
    max-width: 100%;
    height: auto;
}


.pointer {
    cursor: pointer;
}

.animation {
    transition: 300ms ease-in-out;
}

.gap-anim {
    transition: gap 1500ms ease-in-out;
}

.height-50 {
    height: 50%;
}

.height-80 {
    height: 80%;
}

.height-100 {
    height: 100%;
}

.width-50 {
    width: 50%;
}

.width-100 {
    width: 100%;
}

.no-width {
    width: 0;
}

.separator {
    width: 100%;
    padding: 0.1px;
    border-radius: 10px;
    background-color: var(--grayDark);
}

/*Z-INDEX */
.z-index-0 {
    z-index: 0;
}

.z-index-1 {
    z-index: 1;
}

.z-index-2 {
    z-index: 2;
}

.z-index-3 {
    z-index: 3;
}

.z-index-4 {
    z-index: 4;
}

.z-index-5 {
    z-index: 5;
}

.z-index-6 {
    z-index: 6;
}

.z-index-7 {
    z-index: 7;
}

.z-index-999 {
    z-index: 999;
}

/*RESPONSIVE*/

.text-h1-media {
    font-size: var(--h1-phone-size);
    font-family: 'Montserrat';
    font-style: normal;
}

.text-h2-media {
    font-size: var(--h2-phone-size);
    font-family: 'roboto';
}

.text-h3-media {
    font-size: var(--h3-phone-size);
    font-family: 'roboto';
}

.icon-feature {
    width: 24px;
    height: 24px;
}

@media only screen and (min-width: 800px) {
    .text-h1-media {
        font-size: var(--h1-pc-size);
    }

    .text-h2-media,
    ::placeholder {
        font-size: var(--h2-pc-size);
    }

    .text-h3-media {
        font-size: var(--h3-pc-size);
    }
}