@import url(/assets/css/variable.css); 
.backgroundSlide{
    background-image: url(/assets/img/jpg/gtavi.jpg);
    width: 272.83px;
    height: 565.72px;
}
 
.backgroundSlide {
clip-path: polygon(100% 0%, 73% 100%, 0% 100%, 40% 0%);
} 
