header {
    width: 100%;
}

/* .logo-navigation {
    display: block;
     même largeur que l'image 
    width: 20%;
}

.logo {
     l'image remplit le <a> 
    width: 100%;
    permet d'éviter les espaces fantômes 
    display: block;
} */

.search-wrapper {
    position: relative;
    overflow: hidden;
    width: 50px;
    height: 50px;
    display: flex;
    border-radius: 4rem;
    align-items: center;
    justify-content: center;
    outline: none;
    transition: 400ms ease-in-out;
}

.search-wrapper input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    margin-left: 20px;
    outline: none;
}

.search-btn {
    padding: 10px;
    width: 60px;
    cursor: pointer;
    height: 60px;
    margin-left: auto;
    z-index: 1;
}

.active {
    width: 100%;
    justify-content: center;
    z-index: 1;
}

.nav-menu-user {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-plateform-list {
    display: flex;
    justify-content: space-between;
}

.access-plateform {
    color: transparent;
    display: flex;
    align-items: center;
    gap: 1%;
}

.menu-navigation-user {
    display: flex;
    gap: 5%;
}

.shop-cart,
.menu-burger {
    width: 24px;
    height: 24px;
}