@import url(/assets/css/variable.css);

/* .logo-navigation {
    display: block;
    même largeur que l'image 
    width: 20%;
}

.logo {
     l'image remplit le <a> 
    width: 100%;
    permet d'éviter les espaces fantômes 
    display: block;
} */
.search-wrapper {
    position: relative;
    overflow: hidden;
    width: 50px;
    height: 50px;
    display: flex;
    border-radius: 4rem;
    align-items: center;
    justify-content: center;
    outline: none;
}

.search-wrapper input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    margin-left: 20px;
    outline: none;
}

.search-btn {
    padding: 10px;
    width: 60px;
    cursor: pointer;
    height: 60px;
    margin-left: auto;
    z-index: 1;
}

.active {
    width: 100%;
    justify-content: center;
    z-index: 1;
}

.nav-menu-user {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-plateform-list {
    display: flex;
    justify-content: space-between;
}

.access-plateform {
    color: transparent;
    display: flex;
    align-items: center;
    gap: 1%;
}

.shop-cart,
.menu-burger {
    width: 24px;
    height: 24px;
}

.menu-navigation-trends {
    display: none;
}

.box-size-header {
    min-width: 100px;
    height: auto;
}

    
@media only screen and (min-width:350px){
    .nav-menu-user-desktop {
        display: none;
    }
}

@media only screen and (min-width:1000px) {
    
     /* div.header-state{
        background-color: transparent;
    } */

    .nav-menu-user-desktop{
        display: block;
    }


    div.isMobile, .isMobile{
        display: none;
    }

    .search-wrapper {
        width: 60px;
        height: 60px;
    }

    .box-size-header{
        width: 160px;
    }

    .nav-menu-user.padding-5{
        padding: 2%;
    }

    .nav-menu-trends.hide{
        display: block;
    }

}